.tab {
  display: inline-flex;
  flex-direction: column;
  .tab_nav {
    display: flex;
    .tab_item {
      padding: 0px 10px;
      cursor: pointer;
      border-bottom: 2px solid rgba(135, 207, 235, 0);
      &:hover {
        background-color: slategray;
      }
    }
    .active {
      border-bottom: 2px solid skyblue;
    }
  }
  .tab_body {
    border-top: 1px solid #333;
    width: 100%;
    height: 100%;
  }
  border: 1px solid #333;
}
